<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode | default site.Language.Lang }}" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{- partial "head.html" . }}
	{{- block "head" . }}{{ end }}
</head>
<body class="{{ block "bodyclass" . }}{{ end }}">
	<script>document.documentElement.classList.replace('no-js','js');</script>
	<a class="skip-link t-label" href="#main">Skip to content</a>
	{{- partial "header.html" . }}
	<main id="main">
		{{- block "main" . }}{{ end }}
	</main>
	{{- partial "footer.html" . }}
	{{- $js := resources.Get "js/main.js" | minify | fingerprint }}
	<script defer src="{{ $js.RelPermalink }}"></script>
	{{- partial "math.html" . }}
</body>
</html>
